@media(max-width: 1440px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1390px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1340px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1290px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1240px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1190px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 1140px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 990px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 940px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 890px){
    .header__burger{
        display: none;
    }
}@media(max-width: 840px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 790px){
    .header__burger{
        display: none;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 700px;
    }
    .header__burger{
        display: none;
    }

    .lg__img {
        width: 386px;
    }

    .desc {
        font-size: 30px;
        line-height: 32px;
        margin: 10px 0 6px;
    }
    .section__one .bold{
        margin-top: 8px;
    }
    .central__img .illustration {
        margin-top: 5px;
    }

    .section__two .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section__two img {
        width: 300px;
    }

    .section__three .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .central__desc {
        width: 300px;
    }
}
@media(max-width: 710px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 660px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 610px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 560px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 510px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 460px){
    .header__burger{
        display: none;
    }
}
@media(max-width: 410px){
    .header__burger{
        display: none;
    }
}
@media (max-width: 397px) {
    .svg{
        width: 100px;
    }
    .section__one{
        margin: 10px 0;
    }
    .container {
        padding: 0 50px;
        max-width: 390px;
    }

    .header__nav {
        display: none;
    }

    .header {
        border: none;
        padding: 20px;
    }

    .header__burger {
        display: block;
    }

    .section__one .container {
        display: flex;
        flex-direction: column;
    }

    .paragraf {
        margin-left: 0;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        width: 342px;
    }
    .section__one .desc {
        margin: 18px 0 17px;
        height: 75px
    }
    .desc__two{
        width: 300px;
    }
    .bold {
        margin-top: 10px;
    }

    .section__one img {
        width: 300px;
        height: 250px;
    }


    .desc {
        font-size: 20px;
        line-height: 22px;

    }

    .section__two .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .section__two img {
        width: 300px;
    }
    .section__two .illustration {
        margin-top: 0;
    }
    .section__three .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .section__three .illustration {
        margin-top: 0;
    }
}
